#{extends 'main.html' /}
#{set title:'GeekEvent - Event details' /}

#{set pageTitle:'GeekEvent details' /}

<div class="container_12">
    <div class="grid_7">
        <h3>${jugEvent.title}</h3>
        <strong>${jugEvent.abstractContent}</strong><br/>
        Le ${jugEvent.date.format('EEEE dd MMMM yyyy')} à ${jugEvent.date.format('HH:mm')}<br/>

        <strong>Description :</strong><br/>

        <p align="justify">${jugEvent.description}</p>

        <strong>Places libres :</strong> ${jugEvent.freeSlots}/${jugEvent.totalSlots}<br/>
        <strong>Organisé par :</strong> ${jugEvent.createdBy?.firstName} ${jugEvent.createdBy?.lastName}
    </div>

    <div class="grid_5">
        <h3>Qui s'est inscrit ?</h3>
        #{if jugEvent.participants.isEmpty()}
            Pas de participant pour l'instant.
        #{/if}
        #{list items:jugEvent.participants, as:'puser'}
            ${puser.firstName} ${puser.lastName}<br/>
        #{/list}

         <h3>Et vous ?</h3>
        #{if currentUser}
            #{if jugEvent.participants.contains(currentUser)}
            Vous êtes inscrit - #{a @Event.unregisterThisEvent(jugEvent.id)}Annuler mon inscription#{/a}
            #{/if}
            #{else}
            #{a @Event.registerThisEvent(jugEvent.id)}Je souhaite m'inscrire#{/a}
            #{/else}
        #{/if}
    </div>


</div>