<div class="eventPanel">
    <style>
        a {
            color: red;
            margin: 5px;
            cursor: pointer;
        }

        a.hilite {
            background: yellow;
        }
    </style>

    <strong>${_event.title}</strong>
    <span class="dateLabel">${_event.date.format('dd/MM/yyyy')} à ${_event.date.format('hh:mm')} </span>
    <br/>
    <span class="eventDetails">#{a @Event.show(_event.id,_event.title.urlEncode(),_event.date.format('yyyy-MM-dd').urlEncode())}Détails#{/a}</span>

    #{if _user}
    <span class="eventAction">
        #{if _user.attendeesEvent.contains(_event)}
    
            <a href="#" id="unregister_${_event.id}">Annuler mon inscription</a>
        #{/if}
        #{else}
           <a href="#" class="unregisterLink${_event.id}">Annuler mon inscription</a>
        #{/else}
    </span>
    #{/if}

    <div class="result${_event.id}"></div>

    <script type="text/javascript">
        $(".unregisterLink${_event.id}").click(function () {
            $.get('application/unregisterthisevent', { jugEventId: "${_event.id}"}, function(data) {
                $('.result${_event.id}').html(data);
            });
        });
        $(".unregisterLink${_event.id}").hover(function () {
            $(this).addClass("hilite");
        }, function () {
            $(this).removeClass("hilite");
        });
    </script>

</div>
