<div class="eventPanel">

    <span class="eventTitle">${_event.title}</span>
    <br/>
    <span class="dateLabel">${_event.date.format('dd/MM/yyyy')} à ${_event.date.format('hh:mm')} </span>
    <br/>
    <span class="eventDetails">#{a @Event.show(_event.id,_event.title.urlEncode(),_event.date.format('yyyy-MM-dd').urlEncode())}Détails#{/a}</span>


    #{if _user}

            #{if _user.attendeesEvent.contains(_event)}
                #{a @unregisterThisEvent(_event.id),class:'ui-widget ui-widget-content'}Annuler mon inscription#{/a}
            #{/if}
            #{else}
               #{a @registerThisEvent(_event.id)}S'inscrire#{/a}
            #{/else}
    #{/if}

</div>
