#{extends 'main.html' /}
#{set title:'GeekEvent - New Event' /}

#{set moreStyles:'
    <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/ui-lightness/jquery-ui-1.8.4.custom.css">        
' /}
#{set moreScripts:'
<script src="/public/javascripts/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/javascripts/jquery-ui-1.8.4.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/javascripts/jquery-ui-timepicker-addon-0.5-custom.min.js" type="text/javascript" charset="utf-8"></script>
' /}

<div class="container_12">
    <div class="grid_12">
        <h3>Nouvel événement 2</h3>

        #{form @saveJugEvent()}

        #{field 'jugEvent.title'}
        <p>
            <label>&{field.name}</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${jugEvent?.title}" class="${field.errorClass}">
            <span class="error">${field.error}</span>
        </p>
        #{/}

        #{field 'jugEvent.abstractContent'}
        <p>
            <label>&{field.name}</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${jugEvent?.abstractContent}" class="${field.errorClass}" maxlength="250">
            <span class="error">${field.error}</span>
        </p>
        #{/}

        #{field 'jugEvent.description'}
        <p>
            <label>&{field.name}</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${jugEvent?.description}" class="${field.errorClass}">
            <span class="error">${field.error}</span>
        </p>
        #{/}

         #{field 'jugEvent.date'}
        <p>
            <label>&{field.name}</label>
            #{dateTimeField name:'jugEvent.date' /}
            <span class="error">${field.error}</span>
        </p>
        #{/}


         #{field 'jugEvent.totalSlots'}
        <p>
            <label>&{field.name}</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${jugEvent?.totalSlots}" class="${field.errorClass}">
            <span class="error">${field.error}</span>
        </p>
        #{/}

        <input type="submit" value="Enregistrer"/>

        #{/form}

    </div>
    <div class="clear">&nbsp;</div>


</div>